{% comment %} {% extends 'base.html' %} {% endcomment %}

{% comment %} {% block title %}Enter new password{% endblock %} {% endcomment %}

{% block content %}

{% if validlink %}

{% comment %} <h1>Set a new password!</h1> {% endcomment %}
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>
  El enlace es inválido, posiblemente porque yá se usó previamente. Por favor repita nuevamente el procedimiento.
</p>

{% endif %}
{% endblock %}