{% comment %} {% extends 'main/header.html' %} {% endcomment %}


{% block content %}

<!--Password reset sent-->
<div class="container p-5">
      <h2 class="font-weight-bold mt-3">Restablecimiento de cotraseña enviado</h2>
      <hr>
      <p>
            Le enviamos un correo con instrucciones para reiniciar su cotraseña.<br />
            Si la cuenta está registrada con el correo que nos proporcionó, lo recibira en breve. <br />
            Si no lo ve en su bandeja de entrada, por favor revise su carpeta de coreo no deseado.
      </p>
</div>

{% endblock %}