<img src="https://cmcper.sandboxmb.com/assets/img/login/Logo%20ingresar.png" width="100%">
<table>
    <tr>
        <td>
            <p style="font-size: 26px; font-weight: bold;">
              ¡Hola {{ nombre }}!
            </p>
            <p style="font-size: 20px; text-align: justify;">
              Muchas gracias por ser facturar con CMCPER.
              <br><br>
              Adjunto a este correo encontrará la vista previa de su factura en PDF.
            </p>
        </td>
    </tr>
</table>
